h1{
  color: #3E3F5B;
  text-align: center;
  margin: 40px;
}



.imageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipButton{
  margin: 40px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 30px;
  padding: 20px;
  background-color: #ACD3A8;
  color: #2C3930;
}

h2{
  color: #3E3F5B;
}